<footer class="site-footer">

  <div class="wrapper">
    <h2 class="footer-heading">{{ site.tagline | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p class="dlsu-ccs-comet"></p>
        <p>Room 406, Gokongwei Hall</p>
        <p>De La Salle University - Manila Campus</p>
        <p>2401 Taft Avenue, Malate</p>
        <p>Manila, Philippines</p>
      </div>

      <div class="footer-col footer-col-2">
        <p><a href="http://computerstudies.dlsu.edu.ph/research" target="_blank">Advanced Research Institute for Informatics, Computing and Networking</a></p>
        <p><a href="http://computerstudies.dlsu.edu.ph" target="_blank">College of Computer Studies</a></p>
        <p><a href="https://www.dlsu.edu.ph/" target="_blank">De La Salle University</a></p>
      </div>

      <div class="footer-col footer-col-3">
        {% include social.html %}
      </div>
    </div>

    <h2 class="footer-copyright"><p class="copyright">© {{ "now" | date: "%Y" }} &nbsp; {{ site.author | escape }}</p></h2>

  </div>

</footer>
