@charset "utf-8";

// fonts

@font-face {
  font-family: "Hero";
  src: url("../assets/fonts/Sans/Hero.otf");
}

@font-face{
  font-family: "Avenir";
  src: url("../assets/fonts/Sans/AvenirNext-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Avenir";
  src: url("../assets/fonts/Sans/AvenirNext-Italic.ttf") format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face{
  font-family: "Avenir";
  src: url("../assets/fonts/Sans/AvenirNext-Medium.ttf") format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: "Avenir";
  src: url("../assets/fonts/Sans/AvenirNext-DemiBold.ttf") format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face{
  font-family: "Avenir";
  src: url("../assets/fonts/Sans/AvenirNext-DemiBoldItalic.ttf") format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face{
  font-family: "Avenir";
  src: url("../assets/fonts/Sans/AvenirNext-Bold.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}

// Define defaults for each variable.

$base-font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$dlsu-font-family: "EB Garamond", serif !default;
$comet-font-family: Hero, sans-serif !default;
$base-font-size:   14px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #202020 !default;
$background-color: #fdfdfd !default;
$brand-color:      #00A669 !default;

$grey-color:       #696969 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$comet-green-color:       #49108b !default;
$comet-green-color-light: lighten($comet-green-color, 40%) !default;
$comet-green-color-dark:  darken($comet-green-color, 25%) !default;

$comet-cyan-color:       #21A3A6 !default;
$comet-cyan-color-light: lighten($comet-cyan-color, 40%) !default;
$comet-cyan-color-dark:  darken($comet-cyan-color, 25%) !default;

$comet-blue-color:       #1891D4 !default;
$comet-blue-color-light: lighten($comet-blue-color, 40%) !default;
$comet-blue-color-dark:  darken($comet-blue-color, 25%) !default;

$comet-highlight-color:  #49108b !default;

$dlsu-green-color:       #087830 !default;
$dlsu-green-color-light: lighten($dlsu-green-color, 40%) !default;
$dlsu-green-color-dark:  darken($dlsu-green-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1200px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
//  "minima/syntax-highlighting",
  "css/syntax-highlighting-custom.css",
  "css/better-gist-styles.css",
  "fonts/Sans/cmun-sans.css"
;
