/**
 * Site header
 */
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:after {
    display: none;
  }

  @include media-query(820px) {
  }
}

.site-header {
  padding-top: 20px;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-titles {
  padding: 0;
  float: left;
  width: 335px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.site-logo-name {
  display: flex;
  align-items: center;
}

.logo { 
  display: inline;
  width: 100px;
  height: 75px;
  background: no-repeat left/85% url("../../assets/logo-symbol.png");
  border-width: 0;
  margin-right: 20px;
  padding: 4px 12px 4px 0;
  border-right: 1px solid $text-color;
}

.site-title {
  @include relative-font-size(1.1);
  color: darken($comet-green-color-dark, 35%);
  font-weight: 500;
  letter-spacing: 4px;
  line-height: $base-line-height * 0.8;
  font-family: $comet-font-family;
  text-transform: uppercase;
}

.site-subtitle {
  @include relative-font-size(1.2);
  font-weight: 500;
  font-family: $dlsu-font-family;
  letter-spacing: 0px;
  margin-bottom: 10px;
}

.site-subtitle > a:hover {
  color: $dlsu-green-color;
}

.site-nav {
  letter-spacing: 1.5px;
  text-transform: uppercase;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;

    &:hover {
      color: $brand-color;
    }

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .current-page {
    color: $brand-color;
    font-weight: 600;
    padding-bottom: 8px;
    border-bottom: 2px solid $brand-color;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query(605px) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    a {
      display: block;
      padding: 5px 10px;
    }

    .page-link {
      &:not(:last-child) {
        margin-right: 0;
      }
    }

    .current-page {
      border-bottom: none;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

.header-link {
  @include relative-font-size(1.25);
  font-weight: 700;
  letter-spacing: 0.5px;
  float: right;
  color: darken($brand-color, 35%);
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.25);
  border-top: 1px solid $grey-color-light;
  padding-top: 20px;
  margin-bottom: $spacing-unit;
}

.footer-copyright {
  margin-top: 10px;
}

.copyright {
  @include relative-font-size(0.9375);
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;

  i {
    color: $grey-color;
  }
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $text-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;

  p {
    margin: 5px 0;

    &:first-child {
      margin-top: 0px;
    }
  }
}

.footer-col-1 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));

  p {
    margin: 0 0;

    &:first-child {
      margin-top: 0px;
    }
  }
}

.footer-col-2 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.dlsu-ccs-comet {
  width: 183px;
  height: 100px;
  background: no-repeat left/90% url("../../assets/ccs-logo.jpeg");
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list-item {
  margin-bottom: $spacing-unit;
  padding-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    border-bottom: solid 1px $grey-color-light;
  }
  
  p {
    margin-bottom: 5px;
  }

  @include media-query($on-palm) {
    flex-flow: column-reverse wrap;
  }
}

.post-item-author {
  margin-top: 15px;
}

.post-item-meta, .post-meta {
  font-size: $small-font-size;
  color: $grey-color;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;

  span {
    font-weight: bold;
  }
}

.post-item-link {
  font-size: $base-font-size*1.8;
}

.post-item-thumb {
  width: 250px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;

  @include media-query($on-palm) {
    margin-bottom: 10px;
  }
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit*0.5;
}

article.post.blog {
  width: 80%;
  margin-right: auto;
  margin-left: auto;

  @include media-query($on-palm) {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
}

.post-title {
  @include relative-font-size(3);
  letter-spacing: 1;
  font-weight: 500;
  line-height: 1;
  color: $comet-green-color;

  @include media-query($on-laptop) {
    @include relative-font-size(1.75);
  }
}

.post-banner {
  width: 100%;
  object-fit: cover;

  @include media-query($on-palm) {
    object-fit: contain;
  }
}

.post-fig-caption {
  font-style: italic;
  color: $grey-color;
}

.main-title {
  @include relative-font-size(2.5);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  color: $comet-green-color;

  @include media-query($on-laptop) {
    @include relative-font-size(1.75);
  }
}

.main-content, .post-content, .research-content, .about-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.25);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
    margin-top: 30px;

    @include media-query($on-laptop) {
      @include relative-font-size(1.2);
    }
  }

  h3 {
    @include relative-font-size(1.2);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 300;
    margin-top: 30px;

    @include media-query($on-laptop) {
      @include relative-font-size(1.1);
    }
  }

  h4 {
    @include relative-font-size(1.15);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    margin-bottom: $spacing-unit*0.25;

    @include media-query($on-laptop) {
      @include relative-font-size(1);
    }
  }
}

/**
 * Main content
 */
.main-content {
  padding: $spacing-unit*0.5 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  @include media-query(1165px) {
    flex-flow: column wrap;

    > div {
      width: 100%;
    }
  }
}

/**
 * Abstract
 */
.abstract {
  width: 65%;

  h4 {
    margin: 15px 0;
  }
}

/**
 * Sidebar
 */
.news-sidebar {
  width: 30%;

  ul {
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
  }

  li {
    margin-bottom: 10px;
    line-height: $base-line-height*0.9
  }
}

.externals {
  margin-bottom: 20px;
  display: flex;

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px $text-color;
    padding: 10px;

    :first-child {
      margin-right: 3px;

      @include media-query(1180px) {
        margin-right: 0;
      }
    }

    @include media-query(1165px) {
      flex-flow: column wrap;
      align-items: center;
    }
  }

  :first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-right-style: none;
  }

  :last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

.external-desc {
  @include media-query(1165px) {
    display: none;
  }
}

.external-desc-short {
  display: none;

  @include media-query(1165px) {
    display: block;
  }
}

/**
 * Two-column page content
 */
.twocol-content {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
  line-height: $base-line-height*0.9;
}

.twocol-section {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: $base-font-size*1.1;
  font-weight: 600;
  letter-spacing: 1px; 
  color: $text-color;

  p {
    margin: 0;
  }

  // Gaps between sections, but not on the first one
  &:not(:first-child) {
    margin-top: 30px;
  }
}

.twocol-left-col {
  width: 20%;
  text-align: right;
  margin: 0;
}

.twocol-entry {
  width: 78%;

  a {
    color: $text-color;

    &:hover {
      color: $brand-color;
    }
  }

  p {
    margin: 0;
    font-weight: normal;
    font-style: normal;
  }

  .twocol-entry-main {
    font-weight: 500;
    font-style: normal;
  }

  .twocol-entry-section {
    font-style: italic;
    margin-top: 15px;

    &:first-child {
      margin-top: 0px;
    }
  }
}

/**
 * Projects
 */
.projects {
  width: 100%;
  padding: 0;
  display: flex;
  // justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 10px 0;
}

.project {
  padding: 0;
  margin: 0 30px 20px 0;
  width: 333px;
  display: flex;
  flex-flow: column wrap;
}

.project-img {
  width: 333px;
  height: 150px;
  object-fit: cover;
  margin-right: 8px;
  margin-bottom: 12px;
  border-radius: 5px;
}

.project-desc {
  line-height: $base-line-height*0.9;

  a {
    color: $text-color;

    &:hover {
      color: $brand-color;
    }
  }

  p {
    margin: 0 0 5px 0;

    &:not(:first-child) {
      margin-bottom: 0px;
    }
  }

  .project-desc-main {
    font-weight: 600;
  }
}

.profile {
  object-fit: cover; 
  margin: 0px 0px 20px 0px;
  width: 100%; 
  height: 180px;
  box-shadow: 0 0 5px $grey-color;
}

.profile-links {
  display: inline;
  justify-content: space-between;

  a {
    margin: 0 3px;
  }
}

.pub-thumbnail {
  margin-top: 3px;
  width: 100px;
  height: 70px;
  object-fit: cover;
  box-shadow: 0 0 2px $grey-color;
  border-radius: 3px;
}

.author-me {
  font-weight: bold;
}

p.pub-twocol-entry-main {
  font-weight: 600;
  font-style: normal;
  @include relative-font-size(1.1);
  margin-bottom: 3px;
}

p.pub-misc {
  margin-top: 3px;
  line-height: $base-line-height;

  .pub-link {
    margin-right: 8px;
  }

  .pub-accept-rate {
    border-left: solid 2px $text-color;
    padding-left: 8px;
    margin-right: 5px;
  }

  .pub-award {
    border-left: solid 2px $comet-highlight-color;
    padding-left: 8px;
    font-weight: 500;
    color: $comet-highlight-color;
  }
}

.citation-content {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
  line-height: $base-line-height;
}

.citation-text {
  width: 88%;

  @include media-query($on-palm) {
    width: 80%;
  }
}

pre.citation-text {
  border: none 0;
  padding: 0;
  margin: -22px 0 -30px 0;
}

.citation-copy {
  width: 10%;
  margin-top: 5px;

  .copy-btn {
    width: 100%;
    border: solid 1px $text-color;
    border-radius: 5%;
    padding: 5px 10px;
    color: $text-color;
    @include relative-font-size(1.5);

    &:hover {
      color: $brand-color;
      border-color: $brand-color;
      cursor: pointer;
    }
  }

  @include media-query($on-palm) {
    width: 15%;
  }
}

.research-header {
  margin-bottom: $spacing-unit;

  .research-title {
    @include relative-font-size(1.5);
    margin-bottom: 3px;
    color: $comet-green-color-dark;
    line-height: $base-line-height*.8;
    font-weight: bold;
  }

  .research-authors, .research-venue {
    @include relative-font-size(1);
    margin-bottom: 0;
  }

  .research-accept-rate {
    border-left: solid 2px $text-color;
    padding-left: 8px;
    margin-left: 7px;
  }

  .research-award {
    border-left: solid 2px $text-color;
    padding-left: 8px;
    font-weight: bold;
    @include relative-font-size(1);
    margin-bottom: 0;
  }
}

h4.research-section-header {
  margin-bottom: 5px;
  font-weight: bold;
  @include relative-font-size(0.9);
  color: darken($grey-color, 10%);

  &:not(:first-child){
    margin-top: 30px;
  }
}

p.research-misc {
  margin-top: 3px;
  line-height: $base-line-height;

  .research-link {
    margin-right: 8px;
    color: $text-color;

    &:hover {
      color: $brand-color;
    }
  }
}

.research-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.research-hero {
  width: 100%;
  height: 300px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
  line-height: $base-line-height;
  overflow: hidden;

  .research-figure {
    object-fit: scale-down;
    margin-bottom: -1%;
  }

  @include media-query($on-laptop) {
    height: 120px;
  }
}

.research-figure-caption {
  width: 90%;
  @include relative-font-size(0.9);
}

/**
 * People
 */
h3.section-header {
  margin-bottom: 15px;
  margin-top: 30px;
  font-weight: 600;
  @include relative-font-size(1.3);
  color: darken($grey-color, 10%);
}

h4.section-header {
  margin-bottom: 15px;
  margin-top: 10px;
  font-weight: 500;
  @include relative-font-size(1.1);
  color: darken($grey-color, 10%);
}

.people-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.person {
  margin: 0px 10px 10px 0px;
  position: relative;
  color: white;

  a {
    color: white;
  }

  p {
    margin: 0px;
  }
}

.person-pic {
  z-index: 1;
  border-radius: 2px;
  box-shadow: 0 0 2px $grey-color;
}

.person-details {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 140px;
  height: 200px;
  border-radius: 2px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;

  p {
    margin-left: 5px;
  }
}

.details-fullname {
  font-weight: 600;
  font-size: $base-font-size;
  padding-bottom: 3px;
}

.details {
  display: none;
}

.details.is-visible {
  display: block;
  padding-bottom: 3px;
  padding-right: 3px;
  line-height: $base-line-height*.8;
}

.Faculty.is-visible {
  background: linear-gradient(0deg, $comet-blue-color 10%, transparent 66%);
}

.Student.is-visible {
  background: linear-gradient(0deg, $comet-green-color 10%, transparent 66%);
}

.nickname {
  display: none;
}

.nickname.is-visible {
  display: block;
  font-weight: 600;
  font-size: $base-font-size*1.2;
  text-shadow: 1px 1px 2px $comet-green-color-dark;
}

.team-wrapper {
  display: flex;
  flex-flow: column wrap;
}

.team-wrapper.service-teams {
  display: flex;
  flex-flow: row wrap;

  > div {
    margin-right: 20px;
  }
}

.alumni-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: baseline;
  align-content: flex-start;
  justify-content: flex-start;
  height: 600px;
  width: inherit;

  @include media-query($on-palm) {
    height: 100%;
  }

  p {
    margin-bottom: 0px;
    margin-right: 50px;
  }
}

//  About page
.about-content {
  font-size: $base-font-size*1.1;
}

.about-highlight {
  font-weight: 500;
  color: $comet-green-color;
}

// Main page
.abstract-overview {
  font-size: $base-font-size*1.25;
  margin-bottom: 30px;
}

.conf-name {
  font-weight: bold;
}

.recent-pubs-header {
  display: flex;
  align-items: center;
}

.recent-pubs-header > h4 {
  margin-right: 20px;
  font-size: $base-font-size*1.3;
}

.recent-pubs-header > a {
  padding: 3px 6px 3px;
  text-transform: uppercase;
  font-size: $base-font-size*0.8;
  letter-spacing: 1px;
  line-height: $base-line-height*.8;
  border: 1px solid $grey-color-light;
  border-radius: 2px;
  display: flex;
  align-items: center;

  :first-child {
    margin-right: 3px;
  }

  @include media-query(605px) {
    padding: 3px 5px 3px;
    text-align: left;
  }
}

.recent-pubs-header > a > svg {
  @include media-query(605px) {
    // display: none;
  }
}

.sidebar-items > li > p {
  margin-bottom: 2px;
}

.news-date {
  font-weight: 600;
}