---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="pub-title">{{ page.title | escape }}</h1>
    <div class="profile-links">
      <a class="header-link" href="https://www.researchgate.net/profile/Briane_Paul_Samson"><i class="ai ai-researchgate ai-lg"></i></a>
      <a class="header-link" href="https://orcid.org/0000-0002-0253-452X"><i class="ai ai-orcid ai-lg"></i></a>
      <a class="header-link" href="https://scholar.google.com/citations?user=oUJrZ_sAAAAJ&hl=en"><i class="ai ai-google-scholar ai-lg"></i></a>
      <a class="header-link" href="https://dl.acm.org/author_page.cfm?id=99659319011"><i class="ai ai-acm ai-lg"></i></a>
    </div>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
